{
    "development": {
        "REACT_APP_ENV": "development",
        "REACT_APP_BASEURL": "//opapi.dev.huodangdang.com",
        "REACT_APP_UPLOADOSSURL": "//api.dev.jwschain.cn/api/v1/oss/uploadOss",
        "REACT_APP_READOSSURL": "//api.dev.jwschain.cn/api/v1/oss/readImage",
        "REACT_APP_DEBUGGER_DOMAIN": "//debuggerapi.dev.jwschain.cn/api/v1/report"
    },
    "local": {
        "REACT_APP_ENV": "development",
        "REACT_APP_BASEURL": "//apizjd.dalei.work",
        "REACT_APP_UPLOADOSSURL": "//api.dev.jwschain.cn/api/v1/oss/uploadOss",
        "REACT_APP_READOSSURL": "//api.dev.jwschain.cn/api/v1/oss/readImage",
        "REACT_APP_DEBUGGER_DOMAIN": "//debuggerapi.dev.jwschain.cn/api/v1/report"
    },
    "qa": {
        "REACT_APP_ENV": "qa",
        "REACT_APP_BASEURL": "//opapi.qa.jwschain.cn",
        "REACT_APP_UPLOADOSSURL": "//opapi.qa.huodangdang.com/api/v1/oss/uploadOss",
        "REACT_APP_READOSSURL": "//opapi.qa.huodangdang.com/api/v1/oss/readImage",
        "REACT_APP_DEBUGGER_DOMAIN": "//debuggerapi.qa.huodangdang.com/api/v1/report"
    },
    "production": {
        "REACT_APP_ENV": "production",
        "REACT_APP_BASEURL": "//opapi.huodangdang.com",
        "REACT_APP_UPLOADOSSURL": "//api.jwschain.cn/api/v1/oss/uploadOss",
        "REACT_APP_READOSSURL": "//api.jwschain.cn/api/v1/oss/readImage",
        "REACT_APP_DEBUGGER_DOMAIN": "//debuggerapi.jwschain.cn/api/v1/report"
    }
}
